<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	{{> "systems/those-under-mountains/templates/parts/header.hbs"}}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "sheet.tab.attributes"}}</a>
		<a class="item" data-tab="items">{{localize "sheet.tab.items"}}</a>
		<a class="item" data-tab="skills">{{localize "sheet.tab.skills"}}</a>
		<a class="item" data-tab="effects">{{localize "sheet.tab.effects"}}</a>
		<a class="item" data-tab="description">{{localize "sheet.tab.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			{{> "systems/those-under-mountains/templates/parts/attributes.hbs"}}
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor enrichedBiography target="system.background.biography" button=true editable=editable}}
		</div>

		<div class="tab skills" data-group="primary" data-tab="skills">
			{{> "systems/those-under-mountains/templates/parts/skills.hbs"}}
		</div>	
		
		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			{{> "systems/those-under-mountains/templates/parts/items.hbs"}}
		</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/those-under-mountains/templates/parts/effects.hbs"}}
		</div>
	</section>
</form>
