<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
			<div class="resources grid grid-3col">
				<div class="resource flex-group-center">
					<label for="system.wounds.value" class="resource-label">Wounds</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="system.wounds.value" value="{{system.wounds.value}}" data-dtype="Number" />
						<span> / </span>
						<input type="text" name="system.wounds.max" value="{{system.wounds.max}}" data-dtype="Number" />
					</div>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="features">Features</a>
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Items</a>
		<a class="item" data-tab="effects">Effects</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="grid grid-3col">
				<aside class="sidebar">
					{{> "systems/those-under-mountains/templates/parts/features-aside.hbs"}}
				</aside>

				{{!-- For the main features list, span the right two columns --}}
				<section class="main grid-span-2">
					{{> "systems/those-under-mountains/templates/parts/features.hbs"}}
				</section>
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			{{> "systems/those-under-mountains/templates/parts/items.hbs"}}
		</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/those-under-mountains/templates/parts/effects.hbs"}}
		</div>
	</section>
</form>
