<section class="items">
    <table>
        <thead>
            <tr>
                <th style="width: 32px"></th>
                <th>{{localize "Name"}}</th>
                <th>{{localize "Description"}}</th>
                <th style="text-align: right;"></th>
            </tr>
        </thead>
        <tbody>
        {{#each features as |feat id|}}
            <tr data-item-id="{{feat._id}}">
                <td style="width: 32px">
                    <img src="{{feat.img}}" title="{{feat.name}}" width="24" height="24" />
                </td>
                <td>
                    <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type="Feature"}}">
                        {{feat.name}}
                    </a>
                </td>
                <td>{{{feat.system.description}}}</td>
                <td style="text-align: right;">
                    <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type="Feature"}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type="Feature"}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div class="flexrow" style="align-items: center;">
                        <select id="addNewFeature" style="flex: 1;">
                            {{selectOptions availableFeatures localize=true valueAttr="_id" labelAttr="name"}}
                        </select>
                        <a class="item-control item-preview">
                            <i class="fas fa-circle-info"></i>
                        </a>
                        <button id="add-feature" style="flex: 3">{{localize "DOCUMENT.Add" type="Feature"}}</button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</section>