<table class="skills-list">
	<thead>
		<tr class="skill">
			<th class="skill-name">{{localize "sheet.skill.name"}}</th>
			<th class="skill-formula">{{localize "sheet.skill.exp"}}</th>
			<th>{{localize "sheet.skill.formula"}}</th>
			<th class="skill-controls"></th>
		</tr>
	</thead>

	{{#each skills as |skill|}}
		<tr class="item" data-item-id="{{skill._id}}" title="{{skill.plainDescription}}">
			<td class="skill-name">
				<a class="item-control item-edit" title="{{skill.plainDescription}}">
					{{skill.name}}
					({{skill.currentLevel}})
				</a>
			</td>
			<td class="item-formula item-prop">{{skill.system.exp}} / {{skill.nextLevel}}</td>
			<td class="item-formula item-prop">
				<a class="rollable" data-roll-id="{{skill._id}}" title="{{localize 'sheet.roll'}}">
					<i class="fa-solid fa-dice"></i>
					{{skill.dice}}
				</a>
			</td>
			<td class="item-controls">
				<a class="item-control item-edit" title="{{localize 'DOCUMENT.updateSkill'}}">
					<i class="fas fa-edit"></i>
				</a>
				<a class="item-control item-delete" title="{{localize 'DOCUMENT.deleteSkill'}}">
					<i class="fas fa-trash"></i>
				</a>
			</td>
		</tr>
	{{/each}}
    <tfoot>
    <tr>
        <td colspan="4" style="text-align: right">{{localize 'sheet.skill.total' value=totalExp}}</td>
    </tr>
    </tfoot>
</table>

<hr />
<select name="newSkill">
	{{#each skillsList as |skillName|}}
		<option value="{{localize skillName}}">{{localize skillName}}</option>
	{{/each}}
	<option value="{{localize 'DOCUMENT.newSkillName'}}">{{localize "DOCUMENT.newSkillName"}}</option>
</select>
<a class="skill-control skill-create" title="{{localize 'DOCUMENT.createSkill'}}">
	<i class="fas fa-plus"></i>
	{{localize "DOCUMENT.newSkill"}}
</a>