<div class="abilities flexcol">
    <div class="ability flexrow flex-group-center">
        <label
            for="system.sto"
            class="resource-label rollable flexlarge align-left"
            data-roll="d12+@abilities.stoutness"
            data-label="{{sto)}}">
            {{sto}}</label
        >
        <input type="text" name="system.stoutness" value="{{stoValue}}" data-dtype="Number" />
    </div>

    <div class="ability flexrow flex-group-center">
        <label
            for="system.deftness"
            class="resource-label rollable flexlarge align-left"
            data-roll="d12+@abilities.deftness"
            data-label="{{def}}">
            {{def}}</label
        >
        <input type="text" name="system.abilities.deftness" value="{{defValue}}" data-dtype="Number" />
    </div>

    <div class="ability flexrow flex-group-center">
        <label
            for="system.wisdom"
            class="resource-label rollable flexlarge align-left"
            data-roll="d12+@abilities.wisdom"
            data-label="{{wis}}">
            {{wis}}</label
        >
        <input type="text" name="system.wisdom" value="{{wisValue}}" data-dtype="Number" />
    </div>
</div>